@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.color-pallet {}

:root {
    --html-background: linear-gradient(to bottom, rgb(101, 64, 1), rgb(94, 94, 94));

    --main-title: rgb(0, 210, 42);
    --font-pixel: "Pixelify Sans", sans-serif;
    --game-container-background-color: rgb(36, 36, 36);
}

html {
    background-image: var(--html-background);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Protest Guerrilla", sans-serif;

}

.page-title {
    text-align: center;
    font-size: 3rem;
    margin: 20px;
    color: white;
}

.game-container {
    display: flex;
    flex-direction: column;
    background-color: var(--game-container-background-color);
    padding: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));


}

.smiley {
    background-color: transparent;
    border: none;
    font-size: 3rem;
    transition: 0.3s;
    cursor: pointer;
}

.smiley:hover {
    filter: drop-shadow(0 0 5px rgb(255, 255, 0));
    scale: 1.1;
}

.utils {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 10px;
}

.lives {
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0px 10px;
    gap: 10px;
    padding: 20px;
}

.heart {
    animation: scale 6s infinite;

}


img {
    width: 40px;
}


.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 5px;
    text-align: center;
}

h3 {
    padding: 5px;
    box-shadow: inset 0 0px 10px black;
    min-width: 50px;

}

h3 span {
    margin: 5px;
}

.hints {
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0px 10px;
    gap: 10px;
    padding: 20px;
}

.hint {
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    animation: scale 6s infinite;
}

table {
    margin: 20px;

}

td {
    width: 45px;
    height: 45px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(66, 66, 66);
    transition: 0.5s;
    text-align: center;
    color: orange;
    cursor: pointer;
}

td:hover {
    background-color: rgb(94, 93, 93);
}


.clicked {
    filter: drop-shadow(0 0 10px yellow);
}

.marked {
    box-shadow: inset 0 0px 4px orange;
    font-size: 1.2rem;
    color: orange;
}

.boom {
    box-shadow: inset 0 0px 4px red;
    background-color: rgba(255, 0, 0, 0.242);
    font-size: 1rem;
}


.safeclick {
    box-shadow: inset 0 0px 4px rgb(114, 242, 135);
}

.hintshow {
    box-shadow: inset 0 0px 4px rgb(105, 240, 243);
    font-size: 1;
    color: rgb(105, 240, 243);
}

.removed {
    box-shadow: inset 0 0px 4px rgb(212, 0, 255);
}



.showed {
    box-shadow: inset 0 0px 4px rgb(253, 253, 253);
    font-size: 1rem;
}



.invisible {
    visibility: hidden;
}

.level-container {
    display: flex;
    gap: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}


.level {
    border-radius: 5px;
    width: 100px;
    height: 35px;
    box-shadow: inset 0 0px 4px orange;
    background-color: rgb(66, 66, 66);
    border: 1px solid rgb(255, 255, 255);
    font-size: 1.1rem;
    color: orange;
    transition: 0.5s;
    cursor: pointer;
}

hr {
    width: 90%;
    margin: 10px;
    box-shadow: 0 0px 4px orange;
    color: orange;
}

.bonus-container {
    display: flex;
    gap: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    width: 350px;
    flex-wrap: wrap;
}

.btn-bonus {
    border-radius: 5px;
    width: 100px;
    height: 35px;
    box-shadow: inset 0 0px 4px orange;
    background-color: rgb(66, 66, 66);
    border: 1px solid rgb(255, 255, 255);
    font-size: 1.1rem;
    color: orange;
    transition: 0.5s;
    cursor: pointer;
}



.btn-bonus p {
    font-size: 0.5rem;
}


.btn:hover {
    background-color: rgb(94, 93, 93);
}

footer {
    text-align: center;
    margin: 20px;
    font-size: 2rem;
    color: white;
}

@keyframes scale {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }
}


.best-score-container {
    display: flex;
    width: 600px;
    font-size: 1.2rem;
    flex-direction: column;
    margin: 10px;
    background-color: var(--game-container-background-color);
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));
    font-family: "Protest Guerrilla", sans-serif;
    color: orange;
}